<div class="row bloc_pres">
<p>Né en 1991 à Jakarta (Indonésie), Louis Nas commence par prendre des cours privés de piano à l'âge de 7 ans alors qu'il réside à Niamey (Niger). Il s'installe, l'année suivante, à Abidjan en Côte d'Ivoire, où il poursuivra les leçons de piano avec divers professeurs, s'orientant de plus en plus vers la musique classique. Sa scolarité musicale s'avère chaotique au vue des troubles politiques qui agrémentent son séjour en Afrique. Cependant, il se découvre déjà une passion pour le théâtre.</p>

<p>En 2003, il se voit rapatrié suite aux ravages de la guerre civile en Côte d'Ivoire, et achève donc son année scolaire dans l'Allier chez son oncle et sa tante. Là, il reprend des leçons privées de piano à Moulins et découvre la musique métal auprès de ses cousins.</p>
		
<p>Il s'installe ensuite à l'Ile de la Réunion où il poursuit les leçons de piano et en profite également pour aborder la guitare électrique. Malheureusement, suite à plusieurs essais auprès de différents professeurs, il suspend son apprentissage du piano, qu'il continue malgré tout à pratiquer seul. Passionné de métal et de musique classique, il tente désormais plusieurs expériences de groupes qui n'aboutissent pas. </p>
</div>
<div class="row bloc_accueil">
        <div class="col-lg-6">
          <a href="/acteur/parcours"><img class="img-responsive img-circle" src="../img/img_1.jpg"></a>
          <h3 class="text-center">Acteur</h3>
          <p>
		
			Fin 2005, il intègre, par l'intermédiaire de sa mère, une troupe de gens de lettres, intitulée plus tard La Compagnie Guétali, en commençant par interpréter le rôle de Damis dans la pièce Tartuffe de Molière. Il  tournera avec cette compagnie jusqu'à son départ de l'île en 2010. Il interprète ensuite, courant 2006, plusieurs rôles dans Les Pas Perdus de Denise Bonal pour la compagnie Si Tu t'Imagines. En 2008 il interprète Dom Juan dans La Nuit de Valognes de Eric-Emmanuel Schmitt, au sein de la compagnie du Théâtre Bulle, la compagnie de l'atelier théâtre du lycée Saint-Charles où il était élève. Suite au succès des représentations, Louis devient coresponsable de l'atelier théâtre pour les deux années suivantes (incluant sa première année d'université).</p>

			
		
			<p>Il atterrit à Lyon en septembre 2010 où il entre en faculté d'arts du spectacle et continue à pratiquer en autonomie ses deux disciplines instrumentales. Dégoûté par l'enseignement de son cursus universitaire, il décide de prendre en main ses passions et intègre l'Acting Studio, une école de formation professionnelle d'acteurs, en septembre 2011. </p>
        </div>
        
        <div class="col-lg-6">
          <a href="/musicien/parcours"><img class="img-responsive img-circle" src="../img/img_2.jpg"></a>
          <h3 class="text-center">Musicien</h3>
          <p>En 2009 il obtient, auprès d'un professeur diplômant, un diplôme d'équivalence de second cycle de conservatoire avec la mention « Première Mention avec Félicitations » pour l'interprétation d'un morceau de Naglfar (black métal) incluant une improvisation.</p>
		
			<p>Ses projets musicaux prennent un tournant plus sérieux en 2010 lorsqu'il intègre le groupe de death metal mélodique Bellarush en tant que claviériste arrangeur, et monte enfin son propre projet de groupe, Hydra. Il effectue plusieurs dates avec les deux groupes ; ils sont notamment présents sur la scène de Sepultura lors de leur passage sur l'île.</p>
			<p>Il suivra ensuite le cursus guitare de la MAI (Music Academy International) à Nancy au sein de la 59e session (2013-2014).</p>
        </div>
</div>